{% extends "ecomPages/index.html" %}
{% block content %}
{% load static %}

       <div class="body__overlay"></div>
       <!-- Start Offset Wrapper -->
       <div class="offset__wrapper">
           <!-- Start Search Popap -->
           <div class="search__area">
               <div class="container" >
                   <div class="row" >
                       <div class="col-md-12" >
                           <div class="search__inner">
                               <form action="#" method="get">
                                   <input placeholder="Search here... " type="text">
                                   <button type="submit"></button>
                               </form>
                               <div class="search__close__btn">
                                   <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- End Search Popap -->
           <!-- Start Cart Panel -->
           <div class="shopping__cart">
               <div class="shopping__cart__inner">
                   <div class="offsetmenu__close__btn">
                       <a href="#"><i class="zmdi zmdi-close"></i></a>
                   </div>
                   <div class="shp__cart__wrap">
                       <div class="shp__single__product">
                           <div class="shp__pro__thumb">
                               <a href="#">
                                   <img src="images/product-2/sm-smg/1.jpg" alt="product images">
                               </a>
                           </div>
                           <div class="shp__pro__details">
                               <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                               <span class="quantity">QTY: 1</span>
                               <span class="shp__price">$105.00</span>
                           </div>
                           <div class="remove__btn">
                               <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                           </div>
                       </div>
                       <div class="shp__single__product">
                           <div class="shp__pro__thumb">
                               <a href="#">
                                   <img src="images/product-2/sm-smg/2.jpg" alt="product images">
                               </a>
                           </div>
                           <div class="shp__pro__details">
                               <h2><a href="product-details.html">Brone Candle</a></h2>
                               <span class="quantity">QTY: 1</span>
                               <span class="shp__price">$25.00</span>
                           </div>
                           <div class="remove__btn">
                               <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                           </div>
                       </div>
                   </div>
                   <ul class="shoping__total">
                       <li class="subtotal">Subtotal:</li>
                       <li class="total__price">$130.00</li>
                   </ul>
                   <ul class="shopping__btn">
                       <li><a href="cart.html">View Cart</a></li>
                       <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                   </ul>
               </div>
           </div>
           <!-- End Cart Panel -->
       </div>
       <!-- End Offset Wrapper -->
       
       <!-- Start Bradcaump area -->
       <div class="ht__bradcaump__area bradcaump--2">
           <div class="google__map">
               <div class="map-contacts">
                   <div id="googleMap2"></div>
               </div>
           </div>
           <div class="ht__bradcaump__wrap">
               <div class="container">
                   <div class="row">
                       <div class="col-xs-12">
                           <div class="bradcaump__inner">
                               <nav class="bradcaump-inner">
                                 <a class="breadcrumb-item" href="index.html">Home</a>
                                 <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                 <span class="breadcrumb-item active">Contact</span>
                               </nav>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Bradcaump area -->
       <!-- Start Contact Area -->
       <section class="htc__contact__area ptb--70 bg__white">
           <div class="container">
               <div class="row">
                   <div class="col-xs-12">
                       <h2 class="title__line--6">CONTACT US</h2>
                   </div>
               </div>
               <div class="row">
                   <!-- Start Single Address -->
                   <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                       <div class="address">
                           <div class="address__icon">
                               <i class="icon-location-pin icons"></i>
                           </div>
                           <div class="address__details">
                               <h2 class="ct__title">our address</h2>
                               <p>666 5th Ave New York, NY, United </p>
                           </div>
                       </div>
                   </div>
                   <!-- End Single Address -->
                   <!-- Start Single Address -->
                   <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                       <div class="address--2">
                           <p><a href="#"><i class="icon-call-end icons"></i>716-298-1822 </a></p>
                           <p><a href="#"><i class="icon-envelope icons"></i>info@plazathemes.com</a></p>
                       </div>
                   </div>
                   <!-- End Single Address -->
                   <!-- Start Single Address -->
                   <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 smt-40 xmt-40">
                       <div class="address">
                           <div class="address__icon">
                               <i class="icon-envelope icons"></i>
                           </div>
                           <div class="address__details">
                               <h2 class="ct__title">openning hour</h2>
                               <p>666 5th Ave New York, NY, United </p>
                           </div>
                       </div>
                   </div>
                   <!-- End Single Address -->
               </div>
               <div class="row">
                   <div class="contact-form-wrap mt--70">
                       <div class="col-xs-12">
                           <div class="contact-title">
                               <h2 class="title__line--6">Give Us An Email</h2>
                           </div>
                       </div>
                       <div class="col-xs-12">
                           <form id="contact-form" action="mail.php" method="post">
                               <div class="single-contact-form">
                                   <div class="contact-box name">
                                       <input type="text" name="name" placeholder="Your Name*">
                                       <input type="email" name="email" placeholder="Mail*">
                                   </div>
                               </div>
                               <div class="single-contact-form">
                                   <div class="contact-box subject">
                                       <input type="text" name="subject" placeholder="Subject*">
                                   </div>
                               </div>
                               <div class="single-contact-form">
                                   <div class="contact-box message">
                                       <textarea name="message" placeholder="Your Message"></textarea>
                                   </div>
                               </div>
                               <div class="contact-btn">
                                   <button type="submit" class="fv-btn"><i class="icon-envelope icons"></i>SEND</button>
                               </div>
                           </form>
                           <div class="form-output">
                               <p class="form-messege"></p>
                           </div>
                       </div>
                   </div> 
               </div>
           </div>
       </section>
       <!-- End Contact Area -->
       <!-- Start Brand Area -->
       <div class="htc__brand__area pb--70 bg__white">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="ht__brand__inner">
                           <ul class="brand__list owl-carousel owl-theme clearfix">
                               <li><a href="#"><img src="images/brand/1.png" alt="brand images"></a></li>
                               <li><a href="#"><img src="images/brand/2.png" alt="brand images"></a></li>
                               <li><a href="#"><img src="images/brand/3.png" alt="brand images"></a></li>
                               <li><a href="#"><img src="images/brand/4.png" alt="brand images"></a></li>
                               <li><a href="#"><img src="images/brand/5.png" alt="brand images"></a></li>
                               <li><a href="#"><img src="images/brand/1.png" alt="brand images"></a></li>
                               <li><a href="#"><img src="images/brand/2.png" alt="brand images"></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Brand Area -->
       <!-- Start Banner Area -->
       <div class="htc__banner__area">
           <ul class="banner__list owl-carousel owl-theme clearfix">
               <li><a href="product-details.html"><img src="images/banner/bn-3/1.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/2.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/3.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/4.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/5.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/6.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/1.jpg" alt="banner images"></a></li>
               <li><a href="product-details.html"><img src="images/banner/bn-3/2.jpg" alt="banner images"></a></li>
           </ul>
       </div>
       <!-- End Banner Area -->
       <!-- End Banner Area -->

       {% endblock content %}